.root{
    --main:rgb(255, 255, 255);
    --second:rgb(193, 112, 255);
    --third:rgb(7, 22, 41);
}
body,html{
    font-family: source sans pro, spin-cycle-OT;
    margin: 0px;   
    padding: 0px;
}
.container{
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: var(--main-color);
    margin-bottom: 230px;
}
nav img,a{
    margin-top: 20px;
}
nav img{
    width: 180px;
}
nav a{
    text-decoration: none; 
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-left: 40px;
}
.title1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 18vh;
}
.title1 h1{
    color: white;
    font-size: 150px;
    font-weight:bold;
}
.words{
    display: flex;
    justify-content:center;
    align-items: center;
}
.words p{
    margin:30px;
    color:white;
    font-weight:bold;

}
.button{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 180px;
    height:50px;
    background-color:rgb(193, 112, 255);
    margin-left: 670px;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgba(47, 46, 46, 0.75);
}
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    margin-top:0px;
    font-weight: bold;
}
.professionals{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 18vh;
}
.title2 h1{
    font-weight: 300;
    font-size: 25px;
    color:white;

}
.title2 strong{
    text-decoration: none;
    color:rgb(193, 112, 255);
    font-weight: bolder;
}
.pros{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:60px;
    line-height: 2rem;
}
.pros img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}
.pros h3{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom:0px;
    font-weight: bold;
    color: white;
}
.pros p{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    margin-bottom:5px;
    margin-top:2px;
    color:white;
    font-weight: 100;
}
.quote{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:0px;
    background-color:rgb(193, 112, 255);
    height: 500px;

}
.quote img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10vh;
}
.content p{
    text-decoration: none;
    color:white;
    font-size:1.5rem;
    width: 800px;
    margin-bottom:0px;
    line-height: 2em;
}
.content i{
    font-weight: 300;
    font-style: italic;
}
.real p{
    margin-top:15px;
}
.content{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:row;
}
.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.title3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 18vh;
    font-weight: 300;
    font-size: 30px;
}
.title3 strong{
    font-weight: bold;
    color:rgb(193, 112, 255);
}
.rates{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
    padding: 20px;
}
.preview{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 300px;
    height: 400px;
    margin-left:50px;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.image1{
    position: relative;
    top:0px;
    left:0px;
    width: 300px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image2{
    position: absolute;
    left:220px;
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.image21{
    position: absolute;
    left:570px;
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.image22{
    position: absolute;
    left:920px;
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.image23{
    position: absolute;
    left:1270px;
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.comments{
    display: flex;
    opacity: 0.6;
    font-weight: 200;
    height:30px;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
}
.description{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.rating{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
}
.rating img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}
.time{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    margin-top:20px;
    margin-left: 10px;
    margin-right:10px;
    color:rgb(193, 112, 255);
}
.subscription{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(7, 22, 41) ;
    height:90vh;
}
.title4{
    margin-top:100px;
    margin-bottom: 50px;
}
.title4 h2{
    font-size: 40px;
    color:white;
    font-weight:lighter;
}
.title4 strong{
    color:rgb(193, 112, 255);
    font-weight:bolder;
}
.membership{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}
.smile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
}
.smile img{
    margin-bottom:30px;
}
.smile p{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: lighter;
    line-height: 2rem;
}
.smile strong{
    margin-bottom: 20px;
    font-weight: bold;
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color:rgb(193, 112, 255);
    border-radius: 50px;
    margin-top: 100px;
}
.button1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    font-weight: 500;
    margin-bottom: 20px;
}
.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.questions{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-rows: 400px 400px;
    grid-template-columns:400px 400px;
    grid-gap: 50px 200px;
    margin-left: 60px;
    margin-top: 50px;
} 
.questions h3{
    font-weight: bold;
    margin-bottom: 20px;
}
.question p{
    font-weight: 200;
    margin-top: 20px;
    line-height: 2rem;
}
.qs h2{
    font-size:60px;
    font-weight:300;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(7, 22, 41);
    height: 30vh;
    margin-top: 80px;
}
.arts img{
    width:30px;
    height:30px;
} 
.navfooter img{
    margin-left: 40px;
}
.navfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    opacity: 0.5;
    margin-top:0px;
}
